<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= devise_error_messages! %>
<div class="reg-w3">
  <div class="w3layouts-main">

    <div class="field">
      <%= f.label :Adı_Soyadı %><br/>
      <%= f.text_field :ad_soyad,class: "ggg"%>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "ggg" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="field">
      <%= f.label :Username %><br />
      <%= f.email_field :username, autofocus: true, autocomplete: "username",class: "ggg" %>
    </div>

    <div class="field">
      <%= f.label :Yeni_Şifre %> <i>(değiştirmek istemiyorsanız boş bırakın)</i><br />
      <%= f.password_field :password, autocomplete: "off",class: "ggg" %>
      <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :Tekrar_Yeni_Şifre %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off",class: "ggg" %>
    </div>

    <div class="field">
      <%= f.label :Şimdiki_Şifreniz %> <i>(Değişiklikleri onaylamak için  eski şifrenizi giriniz)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" ,class: "ggg"%>
    </div>

    <div class="actions">
      <%= f.submit "Güncelle", class: "ggg" %>
    </div>

    <div class="actions">
      <%= link_to "Geri" ,:back, type: "button",  class: "ggg" %>
    </div>

  </div>
</div>
<% end %>


