
<section class="wrapper">
  <!-- //market-->
  <div class="market-updates">
   <div class="col-md-3 market-update-gd">
    <div class="market-update-block clr-block-2">
     <div class="col-md-4 market-update-right">
      <i class="fa fa-truck"> </i>
    </div>
    <div class="col-md-8 market-update-left">
      <h4>Kalan Süt </h4>
      <h3><%=Sut.all.sum(:miktar)- Harcanansut.all.sum(:harcanan)%> Lt</h3>
      
    </div>
    <div class="clearfix"> </div>
  </div>

</div>
<div class="col-md-3 market-update-gd">
  <div class="market-update-block clr-block-1">
   <div class="col-md-4 market-update-right">
    <i class="fa fa-truck" ></i>
  </div>
  <div class="col-md-8 market-update-left">
   <h4>Günlük Süt </h4>
   <h3><%=Sut.where(:date => Date.today).sum(:miktar)%>  Lt</h3>

 </div>
 <div class="clearfix"> </div>
</div>
</div>
<div class="col-md-3 market-update-gd">
  <div class="market-update-block clr-block-3">
   <div class="col-md-4 market-update-right">
    <i class="fa fa-usd"></i>
  </div>
  <div class="col-md-8 market-update-left">
    <h4>Günlük Ciro</h4>
    <h3><%=Satilan.where(:date => Date.today).sum(:toplam_fiyat)%>  TL</h3>

  </div>
  <div class="clearfix"> </div>
</div>
</div>
<div class="col-md-3 market-update-gd">
  <div class="market-update-block clr-block-4">
   <div class="col-md-4 market-update-right">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  </div>
  <div class="col-md-8 market-update-left">
    <h4>Toplam Ciro</h4>
    <h3><%=Satilan.all.sum(:toplam_fiyat) - Iade.all.sum(:toplam_fiyat).to_f%> TL</h3>
    
  </div>
  <div class="clearfix"> </div>
</div>
</div>
<div class="clearfix"> </div>
</div>  


<div class="table-agile-info">
 <div class="panel panel-default">
  <div class="panel-heading">
    Yapılan Satış Kayıtları

  </div>
  <div>
    <table class="table" ui-jq="footable" ui-options='{
    "paging": {
    "enabled": true
  },
  "filtering": {
  "enabled": true
},
"sorting": {
"enabled": true
}}'>
<div class="container">

  <div class="center">
    <br>
    
    <div class="col-md-4 center">

     <%=search_form_for @search do |f| %>
     <div class="form-group">
       <%=f.label :teslim_yeri_cont, "Teslim Yeri", class:"form-control"%>
       <%=f.text_field :teslim_yeri_cont, class:"form-control"%>
     </div>
     <div class="form-group">
       <%=f.label :date_gteq, "Başlangıç Tarihi", class:"form-control"%>
       <%=f.date_field :date_gteq, class:"form-control"%>
     </div>
     <div class="form-group">
       <%=f.label :date_lteq, "Son Tarih", class:"form-control"%>
       <%=f.date_field :date_lteq, class:"form-control"%>
     </div>

     <div class="actions"><%=f.submit "Arama Yap", class:"form-control btn btn-warning" %></div>
     <%end%>
   </div>
   <br> <br><br><br><br>
   <div class="col-md-4">
    <div class="col-md-6">
     <%= link_to 'Yeni Satış', new_satilan_path , class: "btn btn-primary " %><br><br>
   </div>
   <div class="col-md-6">
     <%= link_to "CSV", satilans_path(format: "csv"), class:"btn btn-warning" %> 
     <%= link_to 'Export', 
     satilans_path(request.parameters.merge({format: :xls})), 
     download: 'projects.xls', class:"btn btn-warning" %>
   </div> 
 </div>
 <div class="col-md-4">
   <%=link_to "Detaylı Listeleme", new_search_path, class:"btn btn-danger"%>
 </div>

</div>


</div>

</div>
<thead>
  <tr>
    <th data-breakpoints="xs">Teslim yeri</th>
    <th>Adi</th>
    <th>Paket tipi</th>
    <th>Adet</th>
    <th data-breakpoints="xs">Birim fiyat</th>

    <th data-breakpoints="xs sm md" data-title="DOB">Toplam fiyat</th>
    <th>Dağıtıcı Kişi</th>
    <th>Tarih</th>
    <th colspan="3"></th>
  </tr>

</thead>
<tbody>
  <% @satilans.each do |satilan| %>
  <tr data-expanded="true">
    <td><%= satilan.teslim_yeri %></td>
    <td><%= satilan.adi %></td>
    <td><%= satilan.paket_tipi %></td>
    <td><%= satilan.adet %></td>
    <td><%= satilan.birim_fiyat %> TL</td>
    <td><%= satilan.toplam_fiyat %></td>
    <td><%= satilan.user.ad_soyad %></td>
    <td><%= satilan.date.strftime("%d-%m-%Y") %></td>

    
    <td> <%= link_to '', edit_satilan_path(satilan) , class:"btn btn-default fa fa-pencil"%></td>
    <td> <%= link_to '', satilan, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-default fa fa-trash" %></td>
  </tr>

  <% end %>
</tbody>
</table>
</div>
</div>
</table>
<%= paginate @satilans %>
</div>
</div>
</div>
</section>



