<aside>
  <div id="sidebar" class="nav-collapse">
    <!-- sidebar menu start-->
    <div class="leftside-navigation">
      <ul class="sidebar-menu" id="nav-accordion">

        <li class="sub-menu">
          <a href="<%=root_path%>">
            <i class="fa fa-truck" style="font-size: 30px;"></i>
            <span>Ürün İşlemleri</span>
          </a>
          <ul class="sub">
            <li><a href="<%=uruns_path%>"><i class="fa fa-truck"></i>
              <span>Girişi Yapılan Ürünler</span></a>
            </li>
            <li><a href="<%=urunlers_path%>"> <i class="fa fa-truck"></i>
              <span>Ürünlerin Stok Durumu</span></a>
            </li>
            <li><a href="<%=urunadis_path%>"><i class="fa fa-truck"></i>
              <span>Yeni Ürün Adı Ekle</span></a>
            </li>
            <li><a href="<%=pakettipis_path%>"><i class="fa fa-truck"></i>
              <span>Ürünlere Özel Pakettipi Ekle</span></a>
            </li>
            <li><a href="<%=new_urun_path%>"><i class="fa fa-truck"></i>
              <span>Ürün Girişi</span></a>
            </li>
            <li><a href="<%=suts_path%>"><i class="fa fa-truck"></i>
              <span>Süt Deposu</span></a></li>
              <li><a href="<%=harcanansuts_path%>"><i class="fa fa-truck"></i>
                <span>Süt Çıkışı</span></a></li>
              </ul>
            </li>

            
            <li class="sub-menu">
             <a href="<%=root_path%>">
              <i class="fa fa-usd" style="font-size: 30px;"></i>
              <span>Satış İşlemleri</span>
            </a>
            <ul class="sub">
              <li><a href="<%=new_satilan_path%>"><i class="fa fa-usd"></i>
                <span>Yeni Satış Formu</span></a>
              </li>
              <li><a href="<%=root_path%>"><i class="fa fa-usd"></i>
                <span>Satış Özeti</span></a>
              </li>
              <li><a href="<%=new_search_path%>"><i class="fa fa-tasks"></i>
                <span>Detaylı Arama Formu</span></a>
              </li>
            </ul>
          </li>

          <li class="sub-menu">
           <a href="<%=root_path%>">
            <i class="fa fa-usd" style="font-size: 30px;"></i>
            <span>Ödeme İşlemleri</span>
          </a>
          <ul class="sub">
           <li><a href="<%=bakiyes_path%>"><i class="fa fa-tasks"></i>
            <span>Bakiye Bilgileri</span></a>
          </li>
           <li><a href="<%=new_bakiye_path%>"><i class="fa fa-tasks"></i>
              <span>Bakiye Kaydı Oluştur</span></a>
            </li>
          <li><a href="<%=new_odeme_path%>"><i class="fa fa-usd"></i>
            <span>Ödeme Formu</span></a>
          </li>
          <li><a href="<%=odemes_path%>"><i class="fa fa-usd"></i>
            <span>Ödeme Özetleri</span></a>
          </li>
          <li><a href="<%=new_osearch_path%>"><i class="fa fa-tasks"></i>
            <span>Ödeme Detaylı Arama</span></a>
          </li>

        </ul>
      </li>

      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-mail-reply-all" style="font-size: 30px;"></i>
          <span>İade İşlemleri</span>
        </a>
        <ul class="sub">
         <li>
          <a class="" href="<%=new_iade_path%>">
            <i class="fa fa-mail-reply-all"></i>
            <span>İade Formu</span>
          </a>
        </li>
        <li>
          <a class="" href="<%=iades_path%>">
            <i class="fa fa-mail-reply-all"></i>
            <span>İadeleri Listele</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="sub-menu">
      <a href="javascript:;">
        <i class="fa fa-tasks" style="font-size: 30px;"></i>
        <span>Gider Bilgileri</span>
      </a>
      <ul class="sub">
        <li><a href="<%=aracgideris_path%>"><i class="fa fa-tasks"></i>
          <span>Araç Giderleri</span></a></li>
          <li><a href="<%=firmagideris_path%>"><i class="fa fa-tasks"></i>
            <span>Firma Giderleri</span></a></li>
            <li><a href="<%=personelgideris_path%>"><i class="fa fa-tasks"></i>
              <span>Personel Giderleri</span></a></li>
              <li><a href="<%=aracs_path%>"><i class="fa fa-tasks"></i>
                <span>Araç Plakaları</span></a></li>
                <li><a href="<%=new_arac_path%>"><i class="fa fa-tasks"></i>
                  <span>Araç Plakası Ekle</span></a></li>

                </ul>
              </li>





              <li class="sub-menu">
                <a href="javascript:;">
                  <i class="fa fa-users" style="font-size: 30px;"></i>
                  <span>Kullanıcı İşlemleri</span>
                </a>
                <ul class="sub">
                 <li>
                  <a class="" href="<%=new_user_path%>">
                    <i class="fa fa-users"></i>
                    <span>Kullanıcı Ekle</span>
                  </a>
                </li>
                <li>
                  <a class="" href="<%=users_path%>">
                    <i class="fa fa-users"></i>
                    <span>Kullanıcıları Listele</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>          
        </div>
      </div>
    </aside>
