
<section class="wrapper">
	<div class="form-w3layouts">
		<div class="row">
			<div class="col-lg-12">
				<section class="panel">
					<header class="panel-heading">
						Ürün Kayıt
						<span class="tools pull-right">
							<a class="fa fa-chevron-down" href="javascript:;"></a>
							<a class="fa fa-cog" href="javascript:;"></a>
							<a class="fa fa-times" href="javascript:;"></a>
						</span>
					</header>
					<%= form_with(model: urunler, local: true) do |form| %>
					<% if flash[:notice] %>
					<div class="notice"><%= flash[:notice] %></div>
					<% end %> <br> <br>
					<div class="panel-body">
						<form class="cmxform form-horizontal " id="commentForm" method="get" action="" novalidate="novalidate">


							<div class="form-group">
								<label for="cname" class="control-label col-lg-3">Ürün Adı</label>
								<%= form.collection_select :adi, Urunadi.all, :adi, :adi%>
							</div>

							<div class="form-group">
								<label for="cname" class="control-label col-lg-3">Paket Tipi</label>
								<%= form.collection_select :paket_tipi, Pakettipi.select(:paket_tipi).distinct, :paket_tipi, :paket_tipi%>
							</div>

							<div class="form-group">
								<label for="cname" class="control-label col-lg-3">Adet</label>
								<%= form.text_field :stok,id:"adet" %>
							</div>




							<div class="actions">
								<%= form.submit "Kaydet", class: "btn btn-primary"%>
							</div>

						</form>
					</div>
				</section>
				<%end%>
			</div>
		</div>
	</div>
</section>


