
  <section class="wrapper">
    <div class="form-w3layouts">
     <div class="row">
      <div class="col-lg-12">
        <section class="panel">
          <header class="panel-heading">
           Paket Tipi Ekleme Paneli

         </header>
         <%= form_with(model: pakettipi, local: true) do |form| %>

         <div class="panel-body">
           <% if flash[:notice] %>
           <div class="notice"><%= flash[:notice] %></div>
           <% end %> <br> <br>
           <form class="cmxform form-horizontal " id="commentForm" method="get" action="" novalidate="novalidate">
            <div class="form-group ">
              <label for="cname" class="control-label col-lg-3">Yeni Paket Tipi Giriniz: </label>
              <%= form.text_field :paket_tipi %>
            </div>

            <div class="form-group ">
              <label for="cname" class="control-label col-lg-3">Ürün Adı: </label>
              <%= form.collection_select :urunadi_id, Urunadi.all, :id, :adi%>
            </div>



            <div class="actions pull-center">
              <%= form.submit "Kaydet", class: "btn btn-primary"%>
            </div>

          </form>
        </div>
      </div>
      <% end %>
    </section>
  </div>
</div>
</div>
</section>
