
 <section class="wrapper">
  <!-- //market-->
  <div class="market-updates">
   <div class="col-md-3 market-update-gd">
    <div class="market-update-block clr-block-2">
     <div class="col-md-4 market-update-right">
      <i class="fa fa-truck"> </i>
    </div>
    <div class="col-md-8 market-update-left">
     <h4>Kalan Süt </h4> 
     <h3><%=Sut.all.sum(:miktar)- Harcanansut.all.sum(:harcanan)%> Lt</h3>
     
   </div>
   <div class="clearfix"> </div>
 </div>

</div>
<div class="col-md-3 market-update-gd">
  <div class="market-update-block clr-block-1">
   <div class="col-md-4 market-update-right">
    <i class="fa fa-truck" ></i>
  </div>
  <div class="col-md-8 market-update-left">
   <h4>Günlük Süt </h4>
   <h3><%=Sut.where(:date => Date.today).sum(:miktar)%>  Lt</h3>

 </div>
 <div class="clearfix"> </div>
</div>
</div>
<div class="col-md-3 market-update-gd">
  <div class="market-update-block clr-block-3">
   <div class="col-md-4 market-update-right">
    <i class="fa fa-usd"></i>
  </div>
  <div class="col-md-8 market-update-left">
    <h4>Günlük Ciro</h4>
    <h3><%=Satilan.where(:date => Date.today).sum(:toplam_fiyat)%>  TL</h3>

  </div>
  <div class="clearfix"> </div>
</div>
</div>
<div class="col-md-3 market-update-gd">
  <div class="market-update-block clr-block-4">
   <div class="col-md-4 market-update-right">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  </div>
  <div class="col-md-8 market-update-left">
    <h4>Toplam Ciro</h4>
    <h3><%=Satilan.all.sum(:toplam_fiyat)%> TL</h3>
    
  </div>
  <div class="clearfix"> </div>
</div>
</div>
<div class="clearfix"> </div>
</div>  

<div class="table-agile-info">
 <div class="panel panel-default">
  <div class="panel-heading">
   Paket İsimleri
 </div>
 <div>
  <table class="table" ui-jq="footable" ui-options='{
  "paging": {
  "enabled": true
},
"filtering": {
"enabled": true
},
"sorting": {
"enabled": true
}}'>



<thead>
  <tr>
    <th data-breakpoints="xs">Paket Tipi İsmi</th>
    <th data-breakpoints="xs">Ürünün Adı</th>
    <th><%= link_to 'Yeni Paket Tipi Ekle', new_pakettipi_path , class: "btn btn-primary " %></th>

    <th colspan="3"></th>
  </tr>

</thead>
<tbody>
  <% @pakettipis.each do |pakettipi| %>
  <tr data-expanded="true">
    <td><%= pakettipi.paket_tipi%></td>
    <td><%=pakettipi.urunadi.adi%></td>

    
    
    <td>

     <%= link_to '', edit_pakettipi_path(pakettipi) , class:"btn btn-default fa fa-pencil"%> 
     <%= link_to '', pakettipi, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-default fa fa-trash" %> 
   </td>
   
 </tr>
 <% end %>
</tbody>
</table>
</div>
</div>
</table>
</div>
</div>
</div>
</section>










