<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>

        <Cell><Data ss:Type="String">Elektrik Faturası</Data></Cell>
        <Cell><Data ss:Type="String">Su Faturası</Data></Cell>
        <Cell><Data ss:Type="String">Doğalgaz Faturası</Data></Cell>
        <Cell><Data ss:Type="String">Kira Bedeli</Data></Cell>
        <Cell><Data ss:Type="String">Vergi Ücreti</Data></Cell>
        <Cell><Data ss:Type="String">Yemek Gideri</Data></Cell>
        <Cell><Data ss:Type="String">Tarih</Data></Cell>
        
      </Row>
      <% Firmagideri.all.order("created_at DESC").each do |satilan| %>
      <Row>

        <Cell><Data ss:Type="String"><%=satilan.elektrik%></Data></Cell>
        <Cell><Data ss:Type="String"><%=satilan.su%></Data></Cell>
        <Cell><Data ss:Type="String"><%=satilan.dogalgaz%></Data></Cell>
        <Cell><Data ss:Type="String"><%=satilan.kira%></Data></Cell>
        <Cell><Data ss:Type="String"><%=satilan.vergi%></Data></Cell>
        <Cell><Data ss:Type="String"><%=satilan.yemek%></Data></Cell>
        <Cell><Data ss:Type="String"><%=satilan.created_at.strftime("%d-%m-%Y")%></Data></Cell>
      </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>